html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.canvas {
    display: flex;
    flex-flow: row wrap;
    background-color: slategray;
}

.box {
    background-color: azure;
}

.box-filled {
    background-color: rgb(255, 181, 209);
}