html, body {
    height: 100%;
}

body {
    background-color: #25252a;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.canvas {
    display: flex;
    flex-flow: row wrap;
    background-color: slategray;

    border: 2px solid #ffffff00;
}

.box {
    background-color: azure;
}

.box-filled {
    background-color: rgb(255, 181, 209);
}

.resize {
    background: azure;
    color: darkslategrey;
    font-size: 24px;
    font-weight: 700;

    padding: 8px 16px;
    border: 2px solid slategray;
    border-radius: 8px;
}